<div class="card-container">
  <div *ngIf="isLoggedIn">

    <form
      name="form"
      #f="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          name="name"
          [(ngModel)]="form.name"
          #name="ngModel"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          name="description"
          [(ngModel)]="form.description"
          #description="ngModel"
        />
      </div>
      <div class="form-group">
        <label for="available">Avaliable</label>
        <input
          style="height: 20px ; display: flex"
          type="checkbox"
          name="available"
          [(ngModel)]="form.available"
          #available="ngModel"
        />
      </div>
      <br>
      <div class="form-group">
        <button class="col-3 btn btn-primary btn-block" (click)="onSubmit()">
          Find
        </button>
      </div>

    </form>
    <table>
      <thead>
      <tr>
        <th (click)="onSubmit()" style="color: #007bff">{{ 'Name' }}</th>
        <th>{{ 'Description' }}</th>
        <th>{{ 'Price' }}</th>
        <th>{{ 'Category Path' }}</th>
        <th>{{ 'Available' }}</th>
        <th>{{ 'Actions' }}</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let p of products?.content">
        <td>{{ p?.name }}</td>
        <td>{{ p?.description }}</td>
        <td>{{ p?.price | currency }}</td>
        <td>{{ getCategoryPath(p?.categories) }}</td>
        <td>{{ p?.available }}</td>
        <td>
          <a title="edit" (click)="editProduct(p)">
            <i class="fa fa-edit icon-default"></i>
          </a>
          <a title="delete" (click)="deleteProduct(p)">
            <i class="fa fa-trash icon-default"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="form-group" style="padding-top: 40px">
      <button class="col-3 btn btn-primary btn-block" (click)="createProduct()">
        Create product
      </button>
    </div>

  </div>




  <div *ngIf="!isLoggedIn">
    You must be logged
  </div>
</div>
